<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.swzn.bibackend.mapper.ClicksIntMapper">

    <resultMap id="BaseResultMap" type="org.swzn.bibackend.entity.ClicksInt">
            <id property="clickid" column="ClickId" jdbcType="INTEGER"/>
            <id property="clicktime" column="ClickTime" jdbcType="INTEGER"/>
            <result property="userid" column="UserId" jdbcType="CHAR"/>
            <result property="clicknews" column="ClickNews" jdbcType="CHAR"/>
            <result property="category" column="Category" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ClickId,ClickTime,UserId,
        ClickNews,Category
    </sql>
</mapper>
