<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.swzn.bibackend.mapper.ClickMapper">

    <resultMap id="BaseResultMap" type="org.swzn.bibackend.entity.Click">
            <id property="clickid" column="ClickId" jdbcType="INTEGER"/>
            <result property="userid" column="UserId" jdbcType="VARCHAR"/>
            <result property="clicknews" column="ClickNews" jdbcType="VARCHAR"/>
            <result property="clicktime" column="ClickTime" jdbcType="TIMESTAMP"/>
            <result property="dwelltime" column="Dwelltime" jdbcType="INTEGER"/>
            <result property="category" column="Category" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ClickId,UserId,ClickNews,
        ClickTime,Dwelltime,Category
    </sql>
</mapper>
